<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries><intent><action android:name="com.anezium.rokidbus.action.HUB" /></intent></queries>
    <application android:allowBackup="false" android:largeHeap="true" android:label="Patcher" android:theme="@style/Theme.Patcher">
        <activity android:name=".PatchActivity" android:exported="true" android:process=":patcher" android:windowSoftInputMode="adjustResize"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|colorMode|grammaticalGender|fontScale|fontWeightAdjustment|assetsPaths" />
        <service android:name=".PatchJobService" android:exported="false" android:process=":patcher" android:foregroundServiceType="dataSync" android:stopWithTask="false" />
        <service android:name=".PatcherPluginService" android:exported="true" android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="glasses-session" />
            <intent-filter><action android:name="com.anezium.rokidbus.action.PLUGIN" /></intent-filter>
            <meta-data android:name="com.anezium.rokidbus.plugin.ID" android:value="patcher" />
            <meta-data android:name="com.anezium.rokidbus.plugin.DISPLAY_NAME" android:value="Patcher" />
            <meta-data android:name="com.anezium.rokidbus.plugin.ICON" android:value="bolt" />
            <meta-data android:name="com.anezium.rokidbus.plugin.API_VERSION" android:value="3" />
            <meta-data android:name="com.anezium.rokidbus.plugin.CAPABILITIES" android:value="" />
            <meta-data android:name="com.anezium.rokidbus.plugin.RECEIVE_PREFIXES" android:value="/plugin/patcher" />
            <meta-data android:name="com.anezium.rokidbus.plugin.SETTINGS_ACTIVITY" android:value=".PatchActivity" />
            <meta-data android:name="com.anezium.rokidbus.plugin.LAUNCHABLE" android:value="false" />
        </service>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.results" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/result_paths" />
        </provider>
    </application>
</manifest>
